@font-face {
    font-family: Antonio;
    src: url(../fonts/Antonio.ttf);
}

body {
    height: 100vh;
    margin: 0;
    background-color: black;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

button {
    width: 100px;
    height: 90px;
    font-family: Antonio;
    font-size: 38px;
    border-radius: 25px;
    border-width: 5px;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}

button.pressed {
    transform: scale(0.8);
}

button.error {
    transform: scale(0.8);
    border-color: red;
}

button img {
    width: 48px;
    height: auto;
    margin-top: 5px;
}

button.deletion {
    background-color: #9944ff;
}

button.deletion:hover {
    background-color: #cc88ff;
}

button.operation {
    background-color: #ffaa00;
}

button.operation:hover {
    background-color: #ffcc66;
}

button#equal {
    background-color: #ff7700;
}

button#equal:hover {
    background-color: #ff8866;
}

button.numbers {
    background-color: #ffeecc;
}

button.numbers:hover {
    background-color: #ffcc99;
}

.main {

}

.display {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.display-upper {
    padding: 5px;
    height: 120px;
    width: 380px;
    background-color: #dd4444;
    border-style: solid;
    border-radius: 25px;
    border-width: 5px;
    border-color: black;
    font-family: Antonio;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.display-lower {
    padding: 5px;
    height: 120px;
    width: 380px;
    background-color: #33cc99;
    border-style: solid;
    border-radius: 25px;
    border-width: 5px;
    border-color: black;
    font-family: Antonio;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttons {
    width: 100%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    width: 100%;
    height: 30px;
    background-color: #ff7700;
    font-family: Antonio;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer img {
    width: 18px;
    height: auto;
}