@font-face {
    font-family: Antonio;
    src: url(../fonts/Antonio.ttf);
}

body {
    height: 100vh;
    margin: 0;
    background-color: black;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

button {
    width: 120px;
    height: 110px;
    font-family: Antonio;
    font-size: 38px;
    border-radius: 25px;
    border-width: 5px;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}

button.pressed {
    transform: scale(0.8);
}

button img {
    width: 48px;
    height: auto;
    margin-top: 5px;
}

button#equal {
    background-color: #ff7700;
}

button#equal:hover {
    background-color: #ff8866;
}

.main {
    width: 100%;
}

.display {
    display: flex;
    flex-direction: column;
}

.display-upper {
    height: 150px;
}

.display-lower {
    height: 150px;
}

.buttons {
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    width: 100%;
    height: 30px;
    background-color: #ff7700;
    font-family: Antonio;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer img {
    width: 18px;
    height: auto;
}